@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

img {
    height: 300px;
    width: 300px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif
}

h1{
    border-radius: 20px;
    background-color: rgb(151, 85, 10);
}

.empty-space {
    margin: 100px;
    justify-content: center;
}

.video {
    padding: auto;
}

#coldCoffCircle {
    display: none;
}

#hotCoffCircle {
    display: none;
}

#coldNonCoffCircle {
    display: none;
}

#hotNonCoffCircle {
    display: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(151, 85, 10); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: lightslategray; /* Add a dark-grey background on hover */
}

#coldCoffee {
    display: none;
    background-color: rgb(151, 85, 10);
}

#hotCoffee {
    display: none;
    background-color: rgb(151, 85, 10);
}

#ColdNonCoffee {
    display: none;
    background-color: rgb(151, 85, 10);
}

#HotNonCoffee {
    display: none;
    background-color: rgb(151, 85, 10);
}
